name: format-check
on:
  push:
    branches:
      - 'main'
      - /^release-.*$/
    tags: '*'
  pull_request:
jobs:
  format-check:
    name: Format check (Julia ${{ matrix.julia-version }} - ${{ github.event_name }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: [1.5.3]
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: actions/checkout@v4
      - name: Instantiate `format` environment and format
        run: |
          julia  --project=format -e 'using Pkg; Pkg.instantiate()'
          julia  --project=format 'format/run.jl'
      - uses: reviewdog/action-suggester@v1
        if: github.event_name == 'pull_request'
        with:
          tool_name: JuliaFormatter
          fail_on_error: true
